// COLOR
$white:#fff;
$black:#282828;
$blue:#2f9dea;
$dark-grey:#9b9b9b;
$light-grey:#f9f9f9;
$color-text:#555555;
// FONTS
$roboconden:'Roboto Condensed', sans-serif;
$oswald: 'Oswald', sans-serif;
$roboto:'Roboto', sans-serif;